/* styles */
body{width: 960px;
	min-height: 740px;
	margin: 0 auto;
	color: #fff;
	/*background: #000;*/
	background:#000 url(../imgs/top_opt.jpg) center top no-repeat;
	background-size: 960px 240px;
	background-attachment: scroll;
	font-style:Cambria Verdana Arial;
}
body.homeonly {
	/*width: 960px;
	min-height: 740px;
	margin: 0 auto;
	color: #fff;
	background: #000;*/
	background: url("../imgs/bottom_opt.jpg") center bottom no-repeat , url("../imgs/top_opt.jpg") center top no-repeat,#000 url("../imgs/scloud.jpg") center center no-repeat;
	background-size: 960px 240px,960px 240px,255px 255px;
	background-attachment: scroll;
}
.homelink,.homelink a{display:block;width:255px;height:255px;margin:0 auto;margin-top:210px;}

/* ==================== Bio bckrnd =====================================*/
.wrapper_b{
	margin-top: 185px;
	min-height:395px;
	padding:0 5px;
	background:#000 url(../imgs/bio.jpg) center top no-repeat;
	background-size: 960px 540px;
	background-attachment: scroll;
	letter-spacing: .1em;
	line-height: 1.5em;
}
.wrapper_b a{color:#ccc;}
h1{text-transform:uppercase;text-align:center;}

.hid{display:block;width:99%;}
.wrapper_b p:first-letter{margin-left:1em;}
.inner{background:rgba(0,0,0,0.5);}
/* ======================= Discopraphy bckrnd ========================*/
.wrapper_d{
	margin-top:185px ;
	min-height:540px;
	background:#000 url(../imgs/discography.jpg) center top no-repeat;
	background-size: 960px 540px;
	background-attachment: scroll;

}
h2.h1d{text-align:center;}
/**/label {
    background: none;
    color: #F9D60A;
    padding: .25em;
    vertical-align: middle;
    display: block;
    margin-right:50px;
    min-width: 480px;
    margin-bottom: 0;
    text-align:left;
}
.inner2{background:rgba(0,0,0,0.7);}
.left_d{float:left;width:48%;margin:1%;}
.left_d h2,.left_d2 h2{margin:0;padding:0;text-align:left;}
.left_d{text-align:left;}
.left_d2{float:left;width:48%;margin:1%;text-align:right;}
.left_d2 h2{text-align:right;}
.left_d label{text-align:left;}
.left_d2 label{text-align:right;}
/****************Navigation**********************************/

.button {
	display: inline-block;
	width: 5.5em;
	border: 1px solid #0a3c59;
	background: #aebcbf; /* Old browsers */
background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aebcbf), color-stop(50%, #6e7774), color-stop(51%, #0a0e0a), color-stop(100%, #0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809', GradientType=0 ); /* IE6-9 */
	padding: .75em .75em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #7ea4bd 0 1px 0;
	color: #fff;
	font-size: 14px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	text-align:center;
}
.button:hover {
	border: 1px solid #0a3c59;
	text-shadow: #1e4158 0 1px 0;
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.button:active {
	text-shadow: #1e4158 0 1px 0;
	border: 1px solid #0a3c59;
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0 ); /* IE6-9 */
	color: #fff;

}
.button.selected {
	color: #000;
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0 ); /* IE6-9 */
}
nav {
	margin: 1em .5em;
	width: 100%;
}
/*
.home_nav {
	position:relative;
	width: 550px;
	padding: 240px 0 0 280px;
	margin: 0;

}*/
.homelogo{display:block;position:absolute;top:240px;margin:0 auto;z-index:-1;}
/****************End Navigation**********************************/
	/****************Form**********************************/
	/* ===================== Contact Form bckrnd ==========================*/
.wrapper_c{
	background:#000 url(../imgs/contact.jpg) center top no-repeat;
	background-size: 960px 540px;
	background-attachment: scroll;
	margin: 190px 0 0 0;
}
.inner_c{background:rgba(0,0,0,0.5);}

form {
	width: 300px;
	margin: 0 auto;
	padding: 1em 0;
}
.formentry {
	width: 95%;
	margin: 0.75em 0;
}

input {
	line-height: 1.5em;
}
#submit {
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aebcbf), color-stop(50%, #6e7774), color-stop(51%, #0a0e0a), color-stop(100%, #0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809', GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 1em 10px;
}
#submit:hover {
	color: #000;
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0 ); /* IE6-9 */
}
.submition_results {
	float: left;
	width: 200px;
	padding: 1em;
	margin-top: 110px;
	text-align: center;
	background: #000;
	background: rgbs(0, 0, 0, 0.6);
	color: #fff;
	border-radius: 7px;
}
.placeholder
{
  color: #aaa;
}
/****************End Form**********************************/
/****************Footer**********************************/

.f_left {
	float: left;
	line-height: 1.75em;
}
.f_left a, .f_right a {
	color: #aaa;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}
.f_left a:hover, .f_right a:hover {
	color: #ffb76b;
	text-decoration: underline;
}
.f_right {
	float: right;
	line-height: 1.75em;
}
.vertical{display:inline-block;vertical-align:top;margin-top: .5em;}
/****************ClearFix**********************************/
.clear_fix {
	width: 100%;
	height: 1px;
	display: block;
	clear: both;
	visibility: hidden;
}
.clear_fix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	width: 100%;
}
.clear_fix {
	display: inline-block;
}
/****************End ClearFix**********************************/
